:root {
  --secondary-color: #bef2ff;
  --branding-color: #34bcd7;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 60px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}

.hero p {
  font-size: 28px;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding:hover {
  background: white;
  border: 3px solid var(--branding-color);
  color: var(--branding-color);
}

.contact-button {
  margin: 40px 40px;
}

.project-description {
  padding: 0 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 35px;
    line-height: 1.5;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 25px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
