:root {
  --secondary-color: #bef2ff;
  --branding-color: #34bcd7;
  --main-font: "Russo One", sans-serif;
}

.logo {
  max-height: 50px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  padding: 70px 35px;
  text-align: center;
}

.hero h1 {
  font-family: var(--main-font);
  font-size: 60px;
  line-height: 1.5;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 5;
}

.hero p {
  font-size: 35px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

#intro-msg {
  font-weight: bold;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn-branding:hover {
  background: white;
  border: 3px solid var(--branding-color);
  color: var(--branding-color);
}

.contact-button {
  margin: 40px 40px;
}

.project-description {
  padding: 0 30px;
}

#subheading {
  font-family: var(--main-font);
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 45px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 25px;
    line-height: 1.5;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 25px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}

.content-container {
  padding: 10px;
}

.content h1 {
  font-family: var(--main-font);
  font-size: 50px;
  line-height: 50px;
}

.content h3 {
  font-size: 18px;
}

.content {
  margin: 30px;
}

footer {
  margin: 50px 0;
}

footer .email-link {
  color: black;
  font-family: var(--main-font);
  font-size: 20px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  background: var(--secondary-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
